body { 
   
    max-width: 950px; 
    width: 100%; 
    background: url(img/1645277369_23-phonoteka-org-p-remont-kompyuterov-fon-25\ 1.png)no-repeat  center ; 
    right: 700px; 
} 
.main-text{
 color: rgb(255, 254, 254);
    max-width: 800px;
    margin-top: 90px;
    margin-left:  1070;
    
}


 
    
   
    
    

.header {
    
    display: flex;
    justify-content: space-around;
    margin-top: 24px;
    margin-bottom: 202px;
    margin-left: 100px;
}
.menu{
    
display: flex;
list-style-type:none ;
}
.menu-item:not(:last-child){
    margin-right: 68px;

}
.menu-item a {

    text-decoration: none;
color:white;

}
.active{
    font-weight: bold;
}
.botton{
    border-radius:50px 

}


.botton{ 
  
    box-sizing: border-box; 
 
    position: absolute; 
    width: 312px; 
    height: 49px; 
    left: 212px; 
    top: 300px; 
    position: absolute  no-repeat;
    
     
    background: #10FDEF; 
    border: 1px solid #ffffff; 
    border-radius: 30px; 
    margin-block: 9px;
}
.article__title{
    margin-right: 68px;
}
.main-text{
    display: flex;
    justify-content: space-around;
    width: 770px;
    margin: 288px auto;
  margin-left:  1px;

}

  .menu-item:hover{
    
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  
  